Investigating Correlated Columns
(Written by Arun Ramakrishna, sent to Mariesa Teo 11/4/2021)

In [5]:
import numpy as np
import pandas as pd
import psycopg2
from psycopg2.extras import execute_values

import os
import sys
current_dir = os.path.dirname( __file__ )
config_dir = os.path.join( current_dir, '..', 'db_config' )
sys.path.append( config_dir )
import config as cf

In [6]:
import matplotlib.pyplot as plt

In [7]:
try:
        params = cf.config()
        conn = psycopg2.connect(**params)
        print("successfully connected to database")
except:
        print("I am unable to connect to the database")

successfully connected to database

In [8]:
# cursor
cur = conn.cursor()

get_cols_query = "SELECT * from rawparceltable;"
sample_data = [];
try: 
    cur.execute(get_cols_query)
    sample_data = cur.fetchall()
    
    print("query successful")
except:
    print("query failed")

    
print(sample_data[0:10])

query successful
[('8765001012', '91765-4018', '2021', 'Commercial', '53135', '5361010', '2017', 'Y', '33.985062650000003', '-117.84578183000001'), ('8765001007', '91765-4012', '2021', 'Commercial', '35582', '1548930', '1998', 'Y', '33.984886459999998', '-117.84443419'), ('8765001011', '91765-4022', '2021', 'Commercial', '20748', '2144404', '2017', 'Y', '33.984520269999997', '-117.84567337999999'), ('8765014026', '91765-3479', '2021', 'Commercial', '21300', '2831268', '2014', 'Y', '33.969803720000002', '-117.84968676'), ('8765001010', '91765-4001', '2021', 'Commercial', '9145', '1421739', '2016', 'Y', '33.986564299999998', '-117.84388033'), ('8765001009', '91765-4009', '2021', 'Commercial', '22080', '545804', '1998', 'Y', '33.985976469999997', '-117.8440932'), ('8765001013', '91765-4028', '2021', 'Commercial', '68715', '7000000', '2006', 'Y', '33.984608369999997', '-117.8472929'), ('8765001008', '91765-4015', '2021', 'Commercial', '9230', '715449', '1998', 'Y', '33.985513949999998', '-117.84420249'), ('8761012015', '', '2021', 'Commercial', '0', '2186863', '2019', 'Y', '33.988427969999996', '-117.89380946999999'), ('8760001016', '91748-1428', '2021', 'Commercial', '1398', '35183', '1975', 'Y', '33.9953231', '-117.88468788')]

In [9]:
df = pd.DataFrame(sample_data, columns=['nettaxablevalue','situszip', 
        'rollyear',
        'usecodedescchar1',  
        'sqftmain',
        'roll_landvalue',
        'roll_landbaseyear',  
        'istaxableparcel',
        'center_lat',
        'center_lon'])

In [10]:
df

,nettaxablevalue,situszip,rollyear,usecodedescchar1,sqftmain,roll_landvalue,roll_landbaseyear,istaxableparcel,center_lat,center_lon
0,8765001012,91765-4018,2021,Commercial,53135,5361010,2017,Y,33.985062650000003,-117.84578183000001
1,8765001007,91765-4012,2021,Commercial,35582,1548930,1998,Y,33.984886459999998,-117.84443419
2,8765001011,91765-4022,2021,Commercial,20748,2144404,2017,Y,33.984520269999997,-117.84567337999999
3,8765014026,91765-3479,2021,Commercial,21300,2831268,2014,Y,33.969803720000002,-117.84968676
4,8765001010,91765-4001,2021,Commercial,9145,1421739,2016,Y,33.986564299999998,-117.84388033
...,...,...,...,...,...,...,...,...,...,...
887,8640007036,91740-4808,2021,Commercial,1750,151554,2020,Y,34.122579229999999,-117.87144103
888,8639017015,91741-6205,2021,Commercial,2280,299783,2015,Y,34.130482790000002,-117.86694854
889,8639001002,91741-4205,2021,Commercial,49920,2621753,2014,Y,34.133712320000001,-117.87195149999999
890,8643006028,91740-5964,2021,Commercial,3040,110042,1984,Y,34.106922419999997,-117.86699790999999
891,8643001008,91740-5405,2021,Commercial,6915,123434,1979,Y,34.113610700000002,-117.87220387000001

In [11]:
df['nettaxablevalue'].mean()

inf